<!DOCTYPE html>
<html>
    <head>
      <style>

        .sticky {
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 999;
        }

        
        
        </style>
         <style>
          @media(min-width:768px)
          {
            .koa
            {
              margin-left:100px;z-index: 999;background-color: #0339;
            }
          }
          @media(max-width:992px)
          {
            .koa
            {
            z-index: 999;background-color: #fcd846;text-align: center;
              
            }
          }
        </style>
        <style>
             .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 150px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 60px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
        </style>
      
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <div class="container" style="margin-top:10px;">
        <div class="row" >
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
            <p style="color:black;z-index:999;position:relative"><i class="fa fa-envelope"></i>&nbsp;&nbsp; <b>info@livetechservices.in</b></p>
  
  
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
            <p style="color:black;z-index:999;position:relative"><i class="fa fa-phone"></i>&nbsp;&nbsp; <b>+91 8802351855, +91 9643824091</b></p>
  
  
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
            <p style="color:black;z-index:999;position:relative;margin-left:200px;" ><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube"></i></p>
  
  
          </div>
        </div>
  
      </div>
      <nav class="navbar navbar-expand-lg navbar-light header" style="height:80px;"  id="myHeader">
        <img src="assets/images/livetech.png" style="height:80px;width:160px;z-index: 999;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse koa" id="navbarNav" style="height: 65px;width:122%;margin-left:20px;" >
          <ul class="navbar-nav" >
            <li class="nav-item active" style="padding-right:50px;" >
              <a class="nav-link" href="#" style="color:white"><b>Home</b> <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active" style="padding-right:50px;">
              <a class="nav-link" href="/about"style="color:white"><b>About us</b></a>
            </li>
            <li class="nav-item active" style="padding-right:50px;">
              <a class="nav-link" href="#/gallery" style="color:white"><b>Gallery</b></a>
            </li>
            <li class="nav-item active" style="padding-right:50px;">
                <a class="nav-link" href="#/services" style="color:white"><b>Services</b></a>
              </li>
              <li class="nav-item active" style="padding-right:50px;">
                <a class="nav-link" href="#/services" style="color:white"><b>Products</b></a>
              </li>
            <li class="nav-item active" style="padding-right:50px;">
              <a class="nav-link" href="/contact" style="color:white"><b>Contact Us</b></a>
            </li>
            <li class="nav-item active" style="padding-right:50px;">
              <a class="nav-link" href="#/contact" style="color:white"><b>Careers</b></a>
            </li>
          </ul>
        </div>
      </nav>
   <br> 

 
<style>
    .parallax {
        /* The image used */
        background-image: url("assets/images/web-development_banner.jpg");
  
        min-height: 300px;
  
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
     
  }
  
  
    
   
   </style>
  
  
    <div class="parallax" >
    <div style="background-color:  blue;opacity:0.4;height: 300px;">
      <br>
      <p style="color:white;margin-top:90px;font-size: 50px;font-family: Roboto Slab, serif;text-align:center;"><strong>Web Development</strong></p>
    
     
    </div>
  
    </div>
 
   <div class="container-fluid" style="height:550px">
    <p style="color:white;font-size:40px;text-align:center;">Visit Us</p>

       <div class="row" >


           <div class="col-lg-8" >
        
            <div class="card" style="width:70%;margin-left: 50px;;">
                <div class="card-body">
          <br>
              <p style="color:black;text-align: left;font-size: 25px;">OUR ADDRESS</p>
              <p style="color:grey;text-align: left;font-size: 12px;margin-top: -12px;">Livetech Private Limited</p>
              <hr style="margin-left:6px;background-color:#075196;width:15%;height: 2px; "> 
             <br>
              <p style="color:grey;text-align: left;font-size: 15px;margin-top: -12px;"> <i class="fa fa-map-marker" style="color:#075196"></i>:- Live Tech Services Private Limited, 223 FF,
                MSX Mall, Swarn Nagari, Greater Noida </p>
                <br>
                <hr style="margin-left:6px;background-color:#075196;width:15%;height: 2px; "> 


                 
              </div>
            </div>

           </div>
           <div class="col-lg-4" >
        
              <form>
              <label>Name</label>
              <input>
              <br>
              <label>Name</label>

              <input>
              <br>
              <label>Name</label>

              <input>

              </form>

        </div>

       </div>

   </div>
   <br>  
   
      <div class="container" >
          <div class="row">
            <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <div class="card" >
                        <div class="card-body">
                            <p style="color:#075196;text-align: center;font-size: 30px;"><b>Drop your resume</b></p>
                        <form>
                            <label>Name :</label>
                         <input name="" class="form-control">
                         <br>
                         <label>Email :</label>
                         <br>
                         <input name="" class="form-control">
                         <br>
                         <label>Technology :</label>
     
                            <select class="form-control">
                             <option>PHP</option>
                             <option>Angular</option>
                             <option>Node js</option>
                             <option>SEO</option>
                             <option>Graphics Designing</option>
                             <option>Others</option>





                             </select>
                             <br>
                         <label>Why You Choose to Come With Us:</label>
     
                         <textarea name="" class="form-control"></textarea>
                         <br>
                         <div style="text-align: center;">
                             <button class="btn btn-primary" style="width:60%">Submit</button>
                         </div>
                        
     
                        </form>                  
                      </div>
                    </div>
                   </div>
                <div class="col-lg-3">
                </div>
             
             
         
      </div>
    </div>
      <br><br><br>
      <div class="container-fluid">
        <div class="row">
          <br>
          <div class="col-lg-12" style="background-color: #075196;opacity: .9;">
              <p style="color:white;font-size:30px;text-align:center">History</p>
              <p style="color:white;font-size:20px;text-align:center">Since our foundation in 2015, Live Tech Services Pvt. Ltd. has always been working hard to deliver complex web and mobile solutions to our customers worldwide. Rooted in our history of bringing software development success to our clients, we are looking for more opportunities in the future with you as our new customer. Live Tech Services, is proficient web development and software solution company based in New Delhi, the capital of India. Our service includes Website design & development, E-commerce solutions, Application development, maintenance, and re-engineering, Mail gateways, Web hosting solutions, Search Engine Optimization, and Digital Marketing Services.</p>
        </div>
        </div>
       
      </div>
      
  
    
    <div class="container-fluid">
      <div class="row" style="background-color: #303030;margin-top: 50px;">
        <div class="col-lg-4">
         <p style="margin-top:40px;color:white;font-size: 20px;text-align: center;"><b>CONTACT INFO</b></p>
         <hr style="background-color: white;width:30%">
         <ul id="kkm" style="list-style: none;color:white">
           <li>D-175, Sector 49, Noida, GB Nagar (U.P.)</li>
           <br>
           <li><i class="fa fa-phone"></i>&nbsp;+91-8010704950 </li>
           <br>
           <li><i class="fa fa-envelope"></i>&nbsp;globaltesting175@gmail.com</li>
         
    
         </ul>
        </div>
        <div class="col-lg-4" >
          <p style="margin-top:40px;color:white;font-size: 20px;text-align: center;"><b>Site Map</b></p>
          <hr style="background-color: white;width:30%">
          <ul style="list-style: none;color:white;text-align: center;margin-left:-30px;">
            <li>Home</li>
            <br>
            <a href="/about"> <li style="color:white">About Us</li></a>
            <br>
            <a href="#/gallery"><li  style="color:white">Gallery</li></a>
            <br>
            <a href="#/contact"> <li style="color:white">Contact Us</li></a>
     
          </ul>
        </div>
        <div class="col-lg-4">
          <p style="margin-top:40px;color:white;font-size: 20px;text-align: center;"><b>Map</b></p>
          <hr style="background-color: white;width:30%">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.120212764419!2d77.36765251446462!3d28.566152693834276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5f2fa697fad%3A0x26e338c34c82ba35!2sShiv%20Mandir%20Barola%20Sec%2049!5e0!3m2!1sen!2sin!4v1599210740927!5m2!1sen!2sin" style="width:100%;height:50%"></iframe>
    
        </div>
        <br>
    
      </div>
      <div class="row" style="background-color: #303030;">
        <div class="col-lg-12">
    
        <hr style="background-color: white;">
        <p style="color:white;text-align:center">© Copyrights All Rights Reserved. Designed and Developed by <a href="livetechservices.in">LTS</a></p>
    
      </div>
      </div>
    
    </div>
    </body>


</html>
